# App Config
NEXT_PUBLIC_APP_NAME=<example>
NEXT_PUBLIC_APP_DESCRIPTION=<example>
NEXT_PUBLIC_LOGO_URL=<example>
NEXT_PUBLIC_META_TITLE=<example>
NEXT_PUBLIC_META_DESCRIPTION=<example>

# Server Config (Keep these private unless needed on client)
PORT=6000
IMAP_HOST=<smtp.example.com>
IMAP_PORT=143
IMAP_SECURE=false
IMAP_REJECT_UNAUTHORIZED=false

SMTP_HOST=<smtp.example.com>
SMTP_PORT=587
SMTP_SECURE=false
SMTP_REJECT_UNAUTHORIZED=false

# Security
SESSION_SECRET=<secret>
NODE_ENV=development